<div class="container">
    <br>
<h5><mark>Cars:</mark> {{name}} <small>{{model}}</small></h5>
<div class="alert alert-success">
    <p>Cars option</p>
    <ul>
        <li><p>Speed: <strong>{{speed}} </strong>km</p></li>
        <li><p>Car Color: <strong>{{colors.car}}</strong></p></li>
        <li><p>Salon Color: <strong>{{colors.salon}}</strong></p></li>
        <li><p>Wheels Color: <strong>{{colors.wheels}}</strong></p></li>
    </ul>
</div>
<h5>Car opportunity</h5>
<div class="alert alert-info">


<ul>
    <li *ngFor = "let opt of options">{{opt}}</li>
</ul>
</div>
<div class="car-select">
    <h5>Cars Selections</h5>
    <button class="btn btn-danger" routerLink = "/">BMW</button>
    <button class="btn btn-success" routerLink = "/audi">Audi</button>
    <button class="btn btn-secondary" routerLink = "/merc">Mercedes</button>
</div>
</div>

